<div class="container-fluid bg-light">
    <div class="container bg-light">
        <div class="row mt-4">
            <div class="col"></div>
            <div class="col-md-6 bg-white">

                <div class="card bg-warning">
                    <h4 class="text-white">To Do List</h4>
                </div>

                <div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" [(ngModel)]="addTaskValue" placeholder="Enter task" name="task">
                        <button class="btn btn-outline-success" type="button" (click)="addTask()">+</button>
                    </div>
                </div>

                <h4 class="text-primary mt-4">Tasks</h4>

                <div style="overflow-y: auto; height: 350px;">
                    <div class="m-3" *ngFor="let task of taskArr">
                        <div class="p-2 shadow">
                            <div class="input-group row ps-3">
                                <div class="card col-md-10">{{task.task_name}}</div>
                                <button class="btn btn-outline-primary col" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="call(task)">e</button>
                                <button class="btn btn-outline-danger col" (click)="deleteTask(task)">X</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit task</h5>
                            <button type="button" class="btn-lose" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group p-4">
                                <input type="text" placeholder="Enter task" name="task" [(ngModel)]="editTaskValue">
                                <button class="btn btn-outline-success" type="button" data-bs-dismiss="modal" (click)="editTask()">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col"></div>
        </div>
    </div>
</div>